.DS_Store

application/cache/*
application/config/*
application/core/*
application/logs/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/*
/vendors/*
/images/*
/assets/*
/system/*
/78as98fd298a9s/*
/asset_gkp/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
/asset_gkp
/node_modules
test.pdf
test2.pdf
package.json
package-lock.json
composer.json
composer.json
